<launch>
    <arg name="config" default="$(find nusim)/config/nusim.rviz"/>
    <arg name="yaml" default="$(find nusim)/config/basic_world.yaml"/>

    <rosparam command="load" file="$(find nusim)/config/basic_world.yaml"/>
  
    <node pkg="nusim" type="nusim" name="nusim">
        <param name="rate" type="int" value="500"/>
    </node>

    <include file="$(find nuturtle_description)/launch/load.launch" pass_all_args="true">
        <arg name="color" value="red"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="fixed_frame" value="world"/>
    </include>
</launch>