<launch>
    <arg name="use_jsp" default="false"/>
    <arg name="use_rviz" default="true"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find diff_drive)/urdf/ddrive.urdf.xacro" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(eval arg('use_jsp') == true)"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(eval arg('use_jsp') == false)"/>
    <node name="rviz" pkg="rviz" type="rviz" if="$(eval arg('use_rviz') == true)"/>
</launch>