<launch>

    <rosparam command="load" file="$(find nusim)/config/basic_world.yaml" ns="nusim"/>
  
    <node pkg="nusim" type="nusim_node" name="nusim">
        <param name="rate" type="int" value="500"/>
    </node>

    <include file="$(find nuturtle_description)/launch/load.launch">
        <arg name="color" value="red"/>
        <arg name="config" value="$(find nusim)/config/nusim.rviz"/>
    </include>
</launch>